# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/
bigdata/

# IDE
.vscode/
.idea/

# Spark
spark-warehouse/
metastore_db/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db